# More information about this file:
# https://docs.typo3.org/m/typo3/docs-how-to-document/main/en-us/WritingDocsOfficial/SettingsCfg.html

[general]

project     = Fast Blog
version     = 1.0
release     = 1.0.0
t3author    = Michael Staatz
copyright   = since 2026 by Michael Staatz

description = Blog posts from Markdown files in fileadmin: import command and list/detail rendering.

[html_theme_options]

# for extension documentation, this must not be changed
project_issues       = https://github.com/michaelstaatz/fast-blog/issues
repository_url       = https://github.com/michaelstaatz/fast-blog

[intersphinx_mapping]

t3coreapi  = https://docs.typo3.org/m/typo3/reference-coreapi/main/en-us/
t3tsref    = https://docs.typo3.org/m/typo3/reference-typoscript/main/en-us/
t3tssyntax = https://docs.typo3.org/m/typo3/reference-typoscript-syntax/main/en-us/